.booking
  .container
    .booking-info
      %h3 Sign up
    .col-md-6.contact-form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!

        %div
          = f.label :first_name, "First Name"
          = f.text_field :first_name, { tabindex: '1', placeholder: 'First Name', autofocus: true }

        %div
          = f.label :last_name, "Last Name"
          = f.text_field :last_name, { tabindex: '2', placeholder: 'Last Name', autofocus: true }

        %div
          = f.label :email, "Enter Your Email Address"
          = f.email_field :email, { tabindex: '3', placeholder: "Enter your email address",  autocomplete: 'off' }

        %div
          = f.label :password, 'Choose Your Password'
          = f.password_field :password, { tabindex: '4', placeholder: 'Choose your password', autocomplete: 'off' }

        %div
          = f.label :password_confirmation, 'Confirm Your Password'
          = f.password_field :password_confirmation, { tabindex: '5', placeholder: "Confirm your password", autocomplete: 'off' }

        %div
          = f.label :image, t('Avatar')
          = f.file_field :image

        %div
          = f.submit 'Sign up', { tabindex: '5' }
.clearfix