.booking
  .container
    .booking-info
      %h3 Sign up
    .col-md-6.contact-form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        = render 'form_fields', f: f

        %div
          = f.label :image, t('Avatar')
          = f.file_field :image
        %div
          = f.submit 'Sign up', { tabindex: '5' }
.clearfix