.form-group
  = label_tag :current_password, t('current_password')
  = password_field_tag :current_password, nil, maxlength: 50, class: 'form-control', placeholder: 'we need your current password to confirm your changes'
.form-group
  = label_tag :password, t('choose_your_new_password')
  = password_field_tag :password, nil, maxlength: 50, class: 'form-control'
.form-group
  = label_tag :password_confirmation, t('confirm_your_new_password')
  = password_field_tag :password_confirmation, nil, maxlength: 50, class: 'form-control'
  = render 'control_buttons'
%span.error.text-danger
