.mail
  .container
    .mail-info.center-block
      %h3=t('personal_info')
    .mail-info-grids
      .col-md-4.mail-info-grid.center-block
        %div#avatar_block
          = image_tag(current_user.image.present? ? current_user.image_url(:medium) : 'noavatar.gif', width: 300, height: 300, class: "img-circle center-block")
        %br
        - if current_user.image.present?
          = link_to t('delete_avatar'), delete_avatar_path, class: 'btn btn-info btn-block'
        - else
          = form_for(current_user, url: upload_avatar_path) do |f|
            = f.file_field :image, accept: 'image/png,image/gif,image/jpeg, image/jpg', id: 'upload_image', style: 'display:none;'
            = link_to t('upload_avatar'), 'javascript:void(0);', class: 'btn btn-info btn-block', onclick: 'UploadImageClick();'
      .col-md-8
        .form-horizontal
          #user-info.form-group
            %label.col-sm-2.control-label= t('name')
            .col-sm-10
              %p.form-control-static
                #{current_user.name}
                = link_to t('edit_name'), edit_user_path(type: 'name'), class: 'btn btn-default btn-sm pull-right', id: 'edit_name_link', remote: true
            %label.col-sm-2.control-label= t('email')
            .col-sm-10
              %p.form-control-static
                #{current_user.email}
            %label.col-sm-2.control-label= t('password')
            .col-sm-10
              %p.form-control-static
                &bull;&bull;&bull;&bull;&bull;&bull;
                = link_to t('change_password'), edit_user_path(type: 'password'), class: 'btn btn-default btn-sm pull-right', id: 'change_password', remote: true
            .col-sm-4
        #edit-user
    .mail-info.center-block
:javascript
  function UploadImageClick () {
    $('#upload_image').trigger('click');
    $("#upload_image").change(function(){
      $('#avatar_block').html('#{j render "shared/ajax_loader"}');
      $('#edit_user_' + '#{current_user.id}').submit();
    });
  }