.booking
  .container
    .booking-info
      %h3 Forgot your password?
    .col-md-6
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        .form-group
          = f.label :email, "Enter Email Linked To Your Account"
          = f.email_field :email, tabindex: '3', maxlength: 256, class: 'form-control'
  
        %div
          = f.submit "Send me reset password instructions", tabindex: '5', class: 'btn btn-default'
        %br
        = link_to "Return To Login", new_session_path(resource_name)
.clearfix