.footer
  .container
    .footer-left
    .footer-right
      .footer-nav
        %ul.cl-effect-1
          %li
            = link_to t('home'), root_path
          - if user_signed_in?
            %li
              = link_to t('find_place'), find_place_base_objects_path
            %li
              = link_to t('add_new_place'), new_base_object_path(type: 'hotel')
            %li
              = link_to t('my_account'), my_account_path
            %li
              = link_to t('log_out'), destroy_user_session_path, method: :delete, confirm: "Are you sure?"
          - else
            %li
              = link_to t('registration'), new_user_registration_path
            %li
              = link_to t('log_in'), new_user_session_path
    .clearfix
:javascript
  $(document).ready(function() {
    /*
    var defaults = {
        containerID: 'toTop', // fading element id
      containerHoverID: 'toTopHover', // fading element hover id
      scrollSpeed: 1200,
      easingType: 'linear' 
    };
    */
    
    $().UItoTop({ easingType: 'easeOutQuart' });
    
  });
= link_to raw('<span id="toTopHover" style="opacity: 1;"></span>'), "#", { id: "toTop", style: "display: block;" }
