.header
  .head-bg
    .container
      .head-logo
        = link_to image_tag('logo1.png'), ""
      .top-nav
        %span.menu
          = image_tag('menu.png')
        %ul.cl-effect-1
          %li
            = link_to 'Home', '/'
          %li
            = link_to 'About', '#'
          %li
            = link_to 'Booking', '#'
          %li
            = link_to t('Add Place'), '#', id: 'add_place_button'
            %ul.sub-menu
              %li
                = link_to ('Hotel'), '#'
              %li
                = link_to ('Other place 1'), '#'
              %li
                = link_to ('Other place 2'), '#'
          %li
            = link_to 'Mail Us', '#'
        :javascript
          $( "span.menu" ).click(function() {
            $( "ul.cl-effect-1" ).slideToggle( 300, function() { });
          });
      .clearfix
  .container
    :javascript
      $(function () {
        // Slideshow 4
        $("#slider3").responsiveSlides({
        auto: true,
        pager: false,
        nav: false,
        speed: 500,
        namespace: "callbacks",
        before: function () {
          $('.events').append("<li>before event fired.</li>");
        },
        after: function () {
          $('.events').append("<li>after event fired.</li>");
        }
        });
      });
    #top.callbacks_container
      %ul#slider3.rslides
        %li
          .head-info
            %h1
              Duis purus leo
              %span faucibus eu semper ut, hendrerit
            %p Sollicitudin et elit sit amet, luctus placerat ipsum
        %li
          .head-info
            %h1
              Aenean suscipit
              %span Suspendisse venenatis volutpat
            %p Morbi id felis porttitor tellus viverra pulvinar. Vestibulum
        %li
          .head-info
            %h1
              Gestas vulputate
              %span Morbi id felis porttitor tellus
            %p Morbi id felis porttitor tellus viverra pulvinar.ante ipsum