.booking
  .container
    .booking-info
      %h3= t("find_place")
    .row
      #error
    .row
      .col-md-4
        .form-inline
          .form-group
            %label.sr-only
            .input-group
              = text_field_tag :city, nil, class: "form-control", placeholder: "City"
          = submit_tag t('search'), type: 'button', class: 'btn btn-primary', id: 'search_city', disabled: true
          = submit_tag t('cancel'), type: 'button', class: 'btn btn-primary', id: 'cancel_city', style: "display: none;"
      .col-md-4
        = build_select_type_of_place('', true)
      .col-md-4
        = submit_tag t('show_all'), class: 'btn btn-success', disabled: true
    %br
    #search-result-map
      = render 'shared/search_result_map'
.clearfix