= render 'shared/header'
.banner-grid-info.center-block
  %h3.text-upper The places where you might like...
.grid
  - @objects.each do |object|
    .grid-item
      = link_to((image_tag(object.image_url(:medium_thumb))), base_object_path(object.id))
      .grid-item-info
        %h3.title.text-upper
          = link_to (object.name), base_object_path(object.id)
        %p Address: #{object.address}
        %p Rating: #{object.rating}
.clearfix
