= render 'shared/header'
.banner-grid-info.center-block
  %h3.text-upper The places where you might like...
.grid
  - @objects.each do |object|
    .grid-item
      - about_object_url = "#{object_type_for_url(object._type)}/#{object.id}"
      = link_to image_tag(object.image_url(:medium_thumb)), about_object_url
      .grid-item-info
        %h3.title.text-upper
          = link_to (object.name), about_object_url
        %p{id: "find_address_#{object.id}"}
          Address:
          %span.small-loader
        %p Rating: #{object.rating}
        %p Added by: #{object.user.name}
    :javascript
      $.get('/base_objects/find_address', {id: '#{object.id}'})
        .done(function (data) {
          $('#find_address_#{object.id}').text('Address: ' + data.address);
        });
.clearfix