= render 'shared/header'
.banner-grid-info.center-block
  %h3.text-upper The places where you might like...
.grid
  - @objects.each do |object|
    .grid-item
      = image_tag(object.image_url(:full_thumb))
      .grid-item-info
        %h3.title.text-upper= object.name
        %p Address: #{object.address}
        %p Rating: #{object.rating}
.clearfix
