.head-bg.green
  = render 'shared/nav'
.booking
  .container
    .booking-info
      %h3= t("add_new_#{@type}")
= form_for @object do |f|
  - if @object.errors.any?
    #error_explanation
      %h2= "#{pluralize(@object.errors.count, "error")} prohibited this data from being saved:"
      %ul
        - @object.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name, t('name')
    = f.text_field :name
  .field
    = f.label :address, t('address')
    = f.text_area :address
  .field
    = f.label :rating, t('rating')
    = f.number_field :rating
  .field
    = f.label :image, t('images')
    = f.file_field :image
  = render "forms/new_#{@type}_form", f: f
  .field
    = f.hidden_field :latitude, :value => 50
  .field
    = f.hidden_field :longitude, :value => 50
  .actions
    = f.submit t('save')
%div{style: 'width: 800px;'}
  #map{style: 'width: 800px; height: 400px;'}
= render 'shared/google_maps'