.booking
  .container
    .booking-info
      %h3= params[:action] == 'new' ? t("add_new_#{@type}") : t("edit_object_with_name", object_name: @object.name)
    %p#notice.alert.alert-danger= notice
    = form_for @object do |f|
      - if @object.errors.any?
        #error_explanation
          %h2= "#{pluralize(@object.errors.count, "error")} prohibited this data from being saved:"
          %ul
            - @object.errors.full_messages.each do |msg|
              %li= msg
      = f.hidden_field :latitude, value: nil, id: 'latitude'
      = f.hidden_field :longitude, value: nil, id: 'longitude'
      .form-group.col-md-6
        .col-md-6
          = f.label :name, t('name'), class: 'center-block'
          = f.text_field :name, class: 'form-control'
        .col-md-4
          %label{class: 'center-block'}= t('type_of_place')
          - disabled = params[:action] == 'edit'
          = build_select_type_of_place(@type, disabled)
      .form-group.col-md-6
        %label{class: 'center-block'}= t('address')
        =text_field_tag 'address_field', nil, class:'form-control'
      .form-group.col-md-6
        = f.label :rating, t('rating'), class: 'center-block'
        = f.number_field :rating, class: 'form-control'
      = render "forms/new_#{@type}_form", f: f
      .form-group.col-md-6
        = f.label :image, t('images')
        = f.file_field :image
      #map
        = render 'shared/google_maps'
      .clearfix
      .form-group.action-buttons
        .col-xs-2
        .col-xs-4
          = f.submit t('reset'), type: 'reset', class: 'btn btn-default btn-lg btn-block'
        .col-xs-4
          = f.submit t('save'), class: 'btn btn-info btn-lg btn-block'
        .col-xs-2
  .clearfix
:javascript
  AddOnChangeEventForSelectBox();
