#object-detailed-info
  %h3.text-upper= t('dossier_for', object_name: @object.name)
  = image_tag(@object.image_url(:full), class: 'center-block')
  #text-info-and-map
    .col-md-6.text-upper
      - @text_fields_to_render.each do |field|
        .field-details
          %p.field-label
            #{field.capitalize}:
          %p.field-value
            = @object[field]
    #not-editable-map.col-md-6
      = render 'shared/not_editable_google_maps', lat: @object.latitude, lng: @object.longitude
