%h1= t('add_new_hotel')

= form_for @object do |f|
  - if @object.errors.any?
    #error_explanation
      %h2= "#{pluralize(@object.errors.count, "error")} prohibited this data from being saved:"
      %ul
        - @object.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, t('name')
    = f.text_field :name
  .field
    = f.label :address, t('address')
    = f.text_area :address
  .field
    = f.label :rating, t('rating')
    = f.text_field :rating
  .field
    = f.label :image, t('Add image')
    = f.file_field :image
  .actions
    = f.submit t('save')
