%p#notice= notice

%p
  %b Name:
  = @hotel.name
%p
  %b Address:
  = @hotel.address
%p
  %b Raiting:
  = @hotel.raiting
%p
  %b User:
  = @hotel.user_id

= link_to 'Edit', edit_hotel_path(@hotel)
\|
= link_to 'Back', hotels_path
