!!!
%html
  %head
    %title NiceTrip
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    :javascript
      jQuery(document).ready(function($) {
        $('.scroll').click(function(event){
          event.preventDefault();
          $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
      });

  %body
    - if notice
      %p.notice #{notice}
    - if alert
      %p.alert #{alert}

    = render 'shared/header'
    #user_info
      - if user_signed_in?
        %div Hello, #{current_user.first_name}
        = link_to 'Log Out', destroy_user_session_path, :method => :delete
      - else
        = link_to 'Log In', new_user_session_path
        |
        = link_to 'Registration', new_user_registration_path

    = yield
    = render 'shared/footer'