!!!
%html
  %head
    %title NiceTrip
    = javascript_include_tag '//maps.googleapis.com/maps/api/js?sensor=true'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    :javascript
      jQuery(document).ready(function($) {
        $('.scroll').click(function(event){
          event.preventDefault();
          $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
      });

  %body
    = yield
    - if user_signed_in?
      = render 'shared/footer'